body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  padding-bottom: 100px; /* Adding padding to the bottom of the main content */
}

header {
  background-color: #282c34;
  color: #fff;
  padding: 1em 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: url('https://images.unsplash.com/photo-1552820728-8b015f1cfb40?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') no-repeat center center;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333; 
}

.hero h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.hero p {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #333; 
}

.hero button {
  padding: 0.5em 1em;
  margin: 0.5em;
  border: none;
  background-color: #ff4c4c;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero button:hover {
  background-color: #ff1a1a;
}

#features {
  background-color: #fff;
  padding: 2em 0;
  text-align: center;
}

#features h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.feature-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-card {
  background-color: #f9f9f9;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 30%;
  margin: 1em 0;
  box-shadow: 0 2px 4